.navbar{
    margin-bottom: 60px;
}

nav .panel{
    width: 200px;
}

nav .pagination{
    position: relative;
    left: 40%;
}

.comments_list, .comment_add{
    width: 70%;
    margin: 30px auto 0px;
}

.comment_add{
    margin-top: 70px;
}

.reply{
    margin: 40px 0 0 50px;
}