.forms{
    margin: 200px auto;
}

.panel{
    width: 350px;
    margin: 20px 40px;
}

.btn-lg{
    position: relative;
    left: 40%;
    top: 120px;
}

.userForm{
    position: relative;
    left: 27%;
}